# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
*.ipch
*.idb
*.db
*.suo
*.pdb
*.ipdb
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.res

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text Files
*.txt
*.log
*.tlog
*.user
*.ini

#Directories
.vs/
TheForceEngine/Mods/
TheForceEngine/screenshots/
TheForceEngine/Reference/
TheForceEngine/LawMaker/
TheForceEngine/Backup/
TheForceEngine/VTune Profiler Results/
Build/
TheForceEngine/bug_reports/
WDFuseCommonFiles/
