[Desktop Entry]
Name=The Force Engine
Comment=Reimplementation of the Jedi Engine for Star Wars: Dark Forces and Outlaws
Comment[de]=Reimplementation der Jedi Engine benutzt von Star Wars: Dark Forces und Outlaws
Exec=tfelnx
Type=Application
Categories=Game;Shooter
Path=/usr/local/bin
Icon=TheForceEngine
StartupWMClass=tfelnx